/*-- scss:functions --*/


/*-- scss:defaults --*/

/*-- scss:rules --*/

html {
    padding: 20pt;
  }

body {
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
}

div#scatter-tooltip {
    border: 1px;
    border-style: solid;
    border-color: red;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
}
