/*-- scss:functions --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

html {
    padding: 20pt;
    min-width: 375px;
  }

div#scatter-tooltip {
    border: 1px;
    border-style: solid; 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
}
